<div class="container">
    <div class="bottom-part">
        <div class="row">
            <div class="ft-logo">
                <a href="/"><img src="/img/hivisasa_logo.png" height="30" width="105" alt="hivisasa News"></a>
            </div>
            <div class="ft-about">
                <article>
                    <h4 class="ft-title-1"><strong>About</strong> hivisasa</h4>
                    <p class="p">
                    HiviSasa.com connects local news writers to readers.</p>
                    <p class="p">
                    We are a local news website in Kenya, currently active in 10 locations: Nakuru, Kiambu, Machakos, Kisii, Nyamira, Kisumu, Uasin Gishu, Garissa, Mombasa and also Kibera (Nairobi).<br/>
                    <strong style="text-transform: uppercase;">Readership is free.</strong></p>
                </article>
            </div>
            <div class="ft-social">
                <ul class="ft-social-list pull-right">
                    <li class="tw">
                        <a href=""><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="fb">
                        <a href=""><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="gp">
                        <a href=""><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li class="in">
                        <a href=""><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="dr">
                        <a href=""><i class="fa fa-dribbble"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="bottom-bar">
    <div class="container">
        <div class="row">
            <div class="four-quarters">
                <div class="ft-menu">
                    <ul class="ft-menu-list">
                        <li class="active"><a href="/">all news</a></li>
                        <li><a href="/location/all/politics">politics</a></li>
                        <li><a href="/location/all/opinions">opinions</a></li>
                        <li><a href="/location/all/business">business</a></li>
                        <li><a href="/location/all/agriculture">agriculture</a></li>
                        <li><a href="/location/all/crime">crime</a></li>
                        <li><a href="/location/all/sports">sports</a></li>
                        <li><a href="/location/all/entertainment">entertainment</a></li>
                        <li><a href="/location/all/events">events</a></li>
                        <li><a href="/location/all/education">education</a></li>
                        <li><a href="/location/all/environment">environment</a></li>
                        <li><a href="/location/all/transport">transport</a></li>
                        <li><a href="/location/all/health">health</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>   