
        <header class="header-mb">
            <div class="container">
                <div class="hdm-menu">
                    <a href="#mb-menu" class="c-hamburger htx js-mb-menu">
                        <span>toggle menu</span>
                    </a>
                </div>
                <div class="hdm-logo">
                    <h1><a href="/"><img src="/img/hivisasa_logo.png" height="40" width="140" alt="hivisasa" class="adaptive" /></a></h1>
                </div>
                <div class="hdm-search-user">
                    <div class="hd-search">
                        <a href="#search-block" class="st-btn-1 fa-flip-horizontal js-hd-search">
                            <i class="li_search"></i>
                        </a>
                        <div class="hd-search-block js-hd-search-block">
                            <div class="search">
                                <div class="search-input">
                                    <input type="search" placeholder="Type keywords">
                                </div>
                                <div class="search-btn">
                                    <button>Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user">
                        <a href="#login" class="js-popups"><i class="li_user"></i></a>
                    </div>
                </div>
            </div>
        </header>
        <div class="sticky-header js-sticky-header">
            <div class="container">
                <div class="main-nav-wrap">
                    <div class="row">
                        <nav class="main-nav">
                            <a href="#aside-menu" class="c-hamburger htx js-asd-menu">
                                <span>toggle menu</span>
                            </a>
                            <ul class="main-nav-list sf-menu">
                                <li class="active"><a href="/all">all news</i></a></li>
                                <li><a href="/all/politics">politics</a></li>
                                <li><a href="/all/opinions">opinions</a></li>
                                <li><a href="/all/business">business</a></li>
                                <li><a href="/all/agriculture">agriculture</a></li>
                                <li><a href="/all/crime">crime</a></li>
                                <li><a href="/all/sports">sports</a></li>
                                <li><a href="/all/entertainment">entertainment</a></li>
                                <li><a href="/all/events">events</a></li>
                                <li>
                                    <a href="">more <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub">
                                        <li><a href="/all/education">education</a></li>
                                        <li><a href="/all/environment">environment</a></li>
                                        <li><a href="/all/transport">transport</a></li>
                                        <li><a href="/all/health">health</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <div class="hd-search">
                            <a href="#search-block" class="st-btn-1 fa-flip-horizontal js-hd-search">
                                <i class="li_search"></i>
                            </a>
                            <div class="hd-search-block js-hd-search-block">
                                <div class="search">
                                    <div class="search-input">
                                        <input type="search" placeholder="Type keywords">
                                    </div>
                                    <div class="search-btn">
                                        <button>Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Header END -->






