<!-- Mobile menu -->
<div id="mb-menu" class="mb-menu mfp-hide">
    <div class="container" ng-controller="categoryController">
        <nav class="mobile-nav">
            <ul class="mobile-nav-list">
                <li class="mn-item"><a href="/">all news</a></li>
                <li class="mn-item"><a href="/location/all/politics">politics</a></li>
                <li class="mn-item"><a href="/location/all/opinions">opinions</a></li>
                <li class="mn-item"><a href="/location/all/business">business</a></li>
                <li class="mn-item"><a href="/location/all/agriculture">agriculture</a></li>
                <li class="mn-item"><a href="/location/all/crime">crime</a></li>
                <li class="mn-item"><a href="/location/all/sports">sports</a></li>
                <li class="mn-item"><a href="/location/all/entertainment">entertainment</a></li>
                <li class="mn-item"><a href="/location/all/events">events</a></li>
                <li class="mn-item"><a href="/location/all/education">education</a></li>
                <li class="mn-item"><a href="/location/all/environment">environment</a></li>
                <li class="mn-item"><a href="/location/all/transport">transport</a></li>
                <li class="mn-item"><a href="/location/all/health">health</a></li>
            </ul>
        </nav>
    </div>
</div>

<!-- Aside menu -->
<div id="aside-menu" class="aside-menu mfp-hide">
    <div class="am-container" ng-controller="categoryController">
        <nav class="am-menu">
            <ul class="am-list">
                <li class="am-item"><a href="/">all news</a></li>
                <li class="am-item"><a href="/location/all/politics">politics</a></li>
                <li class="am-item"><a href="/location/all/opinions">opinions</a></li>
                <li class="am-item"><a href="/location/all/business">business</a></li>
                <li class="am-item"><a href="/location/all/agriculture">agriculture</a></li>
                <li class="am-item"><a href="/location/all/crime">crime</a></li>
                <li class="am-item"><a href="/location/all/sports">sports</a></li>
                <li class="am-item"><a href="/location/all/entertainment">entertainment</a></li>
                <li class="am-item"><a href="/location/all/events">events</a></li>
                <li class="am-item"><a href="/location/all/education">education</a></li>
                <li class="am-item"><a href="/location/all/environment">environment</a></li>
                <li class="am-item"><a href="/location/all/transport">transport</a></li>
                <li class="am-item"><a href="/location/all/health">health</a></li>
            </ul>
        </nav>
    </div>
</div>