<!-- Search block popup -->
    <div id="search-block" class="pp-search-block mfp-hide">
        <div class="search">
            <div class="search-btn">
                <button><i class="li_search"></i></button>
            </div>
            <div class="search-input">
                <input type="search" placeholder="Search">
            </div>
        </div>
    </div>
    
    <!-- Login popup -->
    <div id="login" class="sp-popup login mfp-hide">
        <div class="btns">
            <a href="#signin" class="js-popups">Registration</a>
            <a href="#login" class="active js-popups">Login</a>
        </div>
        <div class="social">
            <div>Sign in with social account</div>
            <ul class="pp-social-list">
                <li class="tw">
                    <a href=""><i class="fa fa-twitter"></i></a></li>
                <li class="fb">
                    <a href=""><i class="fa fa-facebook"></i></a></li>
                <li class="gp">
                    <a href=""><i class="fa fa-google-plus"></i></a></li>
                <li class="vk">
                    <a href=""><i class="fa fa-vk"></i></a></li>
            </ul>
        </div>
        <div class="pp-title"><span>or</span></div>
        <div class="form">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button class="btn-8">login</button>
            <a href="#recentpass" class="js-popups">Lost your Password?</a>
        </div>
    </div>
    
    <!-- Sign in popup -->
    <div id="signin" class="sp-popup signin mfp-hide">
        <div class="btns">
            <a href="#signin" class="active js-popups">Registration</a>
            <a href="#login" class="js-popups">Login</a>
        </div>
        <div class="social">
            <div>Sign in with social account</div>
            <ul class="pp-social-list">
                <li class="tw">
                    <a href=""><i class="fa fa-twitter"></i></a></li>
                <li class="fb">
                    <a href=""><i class="fa fa-facebook"></i></a></li>
                <li class="gp">
                    <a href=""><i class="fa fa-google-plus"></i></a></li>
                <li class="vk">
                    <a href=""><i class="fa fa-vk"></i></a></li>
            </ul>
        </div>
        <div class="pp-title"><span>or</span></div>
        <div class="form not-valid">
            <input type="text" placeholder="Username">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button class="btn-8">Registration</button>
            <span>A password will be send on your post</span>
        </div>
    </div>
    
    <!-- Recent pass popup -->
    <div id="recentpass" class="sp-popup recentpass mfp-hide">
        <div class="btns">
            <a href="#signin" class="js-popups">Registration</a>
            <a href="#login" class="active js-popups">Login</a>
        </div>
        <div class="form">
            <input type="email" placeholder="Enter Your Email Adress">
            <button class="btn-8">Get new password</button>
            <a href="#signin" class="js-popups"><i class="popup-arr-left-ic"></i> Registration</a>
        </div>
    </div>
    
    <!-- Mobile menu -->
    <div id="mb-menu" class="mb-menu mfp-hide">
        <div class="container">
            <nav class="mobile-nav">
                <ul class="mobile-nav-list">
                    <li class="mn-item"><a href="/">all news</a></li>
                    <li class="mn-item"><a href="/location/all/politics">politics</a></li>
                    <li class="mn-item"><a href="/location/all/opinions">opinions</a></li>
                    <li class="mn-item"><a href="/location/all/business">business</a></li>
                    <li class="mn-item"><a href="/location/all/agriculture">agriculture</a></li>
                    <li class="mn-item"><a href="/location/all/crime">crime</a></li>
                    <li class="mn-item"><a href="/location/all/sports">sports</a></li>
                    <li class="mn-item"><a href="/location/all/entertainment">entertainment</a></li>
                    <li class="mn-item"><a href="/location/all/events">events</a></li>
                    <li class="mn-item"><a href="/location/all/education">education</a></li>
                    <li class="mn-item"><a href="/location/all/environment">environment</a></li>
                    <li class="mn-item"><a href="/location/all/transport">transport</a></li>
                    <li class="mn-item"><a href="/location/all/health">health</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
    <!-- Aside menu -->
    <div id="aside-menu" class="aside-menu mfp-hide">
        <div class="am-container">
            <nav class="am-menu">
                <ul class="am-list">
                    <li class="am-item"><a href="/">all news</a></li>
                    <li class="am-item"><a href="/location/all/politics">politics</a></li>
                    <li class="am-item"><a href="/location/all/opinions">opinions</a></li>
                    <li class="am-item"><a href="/location/all/business">business</a></li>
                    <li class="am-item"><a href="/location/all/agriculture">agriculture</a></li>
                    <li class="am-item"><a href="/location/all/crime">crime</a></li>
                    <li class="am-item"><a href="/location/all/sports">sports</a></li>
                    <li class="am-item"><a href="/location/all/entertainment">entertainment</a></li>
                    <li class="am-item"><a href="/location/all/events">events</a></li>
                    <li class="am-item"><a href="/location/all/education">education</a></li>
                    <li class="am-item"><a href="/location/all/environment">environment</a></li>
                    <li class="am-item"><a href="/location/all/transport">transport</a></li>
                    <li class="am-item"><a href="/location/all/health">health</a></li>
                </ul>
            </nav>
        </div>
        <div class="am-container">
            <div class="twitter-posts">
                <ul class="tp-list">
                    <li class="tp-list-item">
                        <div class="icon"><i class="fa fa-twitter"></i></div>
                        Show your web design in a web browser! Check out new awesome tool <a href="">http://www.symu.co  https://www.symu.co</a> 
                    </li>
                    <li class="tp-list-item">
                        <div class="icon"><i class="fa fa-twitter"></i></div>
                        Show your web design in a web browser! Check out new awesome tool <a href="">http://www.symu.co  https://www.symu.co</a> 
                    </li>
                </ul>
                <a href="" class="tp-all">View All Tweets</a>
            </div>
        </div>
    </div>